:root {
    --melon: #FF8A33;
    --pollito-Yellow: #FFFC33;
    --greengreen: #106707;
    --cian: #33FFE6;
    --magenta: #FF33EC;
    --pinky: #FF333C;
    
    --small: 10px;
    --medium: 25px;
    --large: 36px;
}
body {
    font-family: Caveat;
    margin: 0;
}
.main-container {
    background-color: var(--melon);

}
.navbar-container{
    background-color: var(--cian);
    
}
.navbar-container ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.navbar-container ul li a{
    text-decoration: none;
    font-size: var(--medium);
}
.title {
    font-size: var(--large);
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: var(--pollito-Yellow);
    margin: 0;
}
.subtitle {
    font-size: var(--medium);
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: var(--greengreen);
    margin-bottom: 0px;
}
#randomDogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    background-color: var(--greengreen);
    margin-top: 0px;
}
#randomDogs article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
#randomDogs article img {
    height: 250px;
    border-radius: 8px;
}
#randomDogs article button {
    width: 250px;
    height: 30px;
    background-color: var(--cian);
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.refresh-button {
    width: 250px;
    height: 50px;
    background-color: var(--cian);
    border: none;
    border-radius: 10px;
    display: block;
    margin: 50px auto 50px auto;
    font-size: var(--medium);
    font-weight: 20;
    cursor: pointer;
}
.favoriteDogs img{
    display: flex;
    flex-direction: row;
    background-color: var(--pinky);
    margin-top: 0px;
}
.upload-button {
    width: 250px;
    height: 50px;
    background-color: var(--cian);
    border: none;
    border-radius: 10px;
    display: block;
    margin: 50px auto 50px auto;
    font-size: var(--medium);
    font-weight: 20;
    cursor: pointer;
}
/* .upload-input {
    width: 250px;
    height: 50px;
    background-color: var(--cian);
    border: none;
    border-radius: 10px;
    display: block;
    margin: 50px auto 50px auto;
    font-size: var(--medium);
    font-weight: 20;
    cursor: pointer;
} */